configuration {
    modi: "drun,run";
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: "Apps";
    display-run: "Run";
    drun-display-format: "{name}";
    font: "JetBrainsMono Nerd Font 12";
    click-to-exit: true;
}

@theme "catppuccin-mocha"
